@model WebFinalPys.Models.Personel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Personel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Not)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Not)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profil)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Profil)" alt="Profil Resmi" style="height:100px; width:100px;">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dep.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
