@using System.Security.Claims
@model IEnumerable<WebFinalPys.Models.MaasPrim>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
@if (User.FindFirst(ClaimTypes.Role).Value != "User")
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tutar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdemeDurumu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Not)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personel)
            </th>
            @if (User.FindFirst(ClaimTypes.Role).Value != "User")
            {
            <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tutar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdemeDurumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Not)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personel.Ad)
            </td>
                @if (User.FindFirst(ClaimTypes.Role).Value != "User")
                {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>
</div>
@if (TempData["mesaj"] != null)
{
    <text>
        <script>
            alert('@TempData["mesaj"].ToString()');
        </script>
    </text>
    TempData["mesaj"] = null;
}